
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap-all {
    background-color: #e1e1e1;
}

.outer-wrap {
    width: 100%;
}

.inner-wrap {
    width: 70%;
    margin: 0 auto;
}

.row::after {
    overflow: auto;
    clear: both;
}

.inner-wrap-main {
    padding: 30px 0;
}

.outer-wrap-footer {
    background-color: #e1e1e1;
    color: #000;
}

.inner-wrap-footer {
    color: #000;
}

.region-flash {
    text-align: center;
}

.region-main {
    padding-bottom: 200px;
}

.region-footer>.block {
    padding-top: 30px;
    width: 100%;
    text-align: center;
}

.region-header-col-1 {
    display: none;
}

.region-header-col-2 {
    text-align: center;
}

.site-logo {
    display: none;
}

.my-navbar {
    padding-top: 40px;
    padding-bottom: 40px;
    list-style: none;
    font-size: 30px;
}

.my-navbar li {
    display: inline;
    padding: 2px 10px;
}

.my-navbar a {
    color: #000;
    text-decoration: none;
}

.my-navbar a:hover,
.toc a:hover {
    color: #fff;
}

.toc a {
    color: #000;
    text-decoration: none;
    line-height: 1.5;
    font-size: 18px;
}

.toc {
    padding-top: 40px;
    padding-bottom: 40px;
    list-style: none;
    font-size: 18px;
    float: left;
    display: block;
    border-right: 0.333px solid #fff;
}

.toc li {
    padding: 2px 10px;
}

.breadcrumb-list {
    margin-top: 10px;
}

.breadcrumb-list li {
    list-style: none;
}

.breadcrumb-list a {
    color: #000;
    text-decoration: none;
    line-height: 1.5;
    font-size: 18px;
}

.breadcrumb-list a:hover {
    color: #fff;
}

.next-previous a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.next-previous a:hover {
    color: #fff;
}

.next {
    float: left;
    margin-left: 15px;
    display: block;
}

.previous {
    float: right;
    margin-right: 15px;
    display: block;
}

.right {
    float: right;
    display: inline-block;
}

.figure.left {
    float: left;
    margin-right: 10px;
}

.byline {
    border: 0.333px solid #fff;
    border-radius: 50px;
    float: left;
    width: 1000px;
    padding: 20px;
    margin-bottom: 20px;
}

.byline h3 {
    margin-top: 20px;
    line-height: 1.5;
}

h1 {
    line-height: 1.5;
    font-size: 30px;
    font-weight: lighter;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

figcaption p {
    float: left;
    font-style: oblique;
}

.columns {
    display: flex;
    padding: 40px;
    border-top: 0.333px solid #fff;
    line-height: 1.5;
    clear: both;
    position: relative;
    margin-top: 300px;
}

.columns h4 {
    font-size: 22px;
    font-weight: lighter;
    line-height: 1.5;
}

.footer-column-3 {
    margin: 20px;
}

.footer-column-2 {
    border-right: 1px solid #fff;
    margin: 20px;
}

.footer-column-1 {
    border-right: 1px solid #fff;
    margin: 20px;
}

.toc h4 {
    font-size: 30px;
    font-weight: lighter;
    line-height: 1.5;
    text-decoration: underline;
}

.article {
    float: left;
    margin: 40px;
}

.wrap-sidebar>.block a {
    color: #000;
}

.wrap-sidebar>.block a:hover {
    color: #fff;
}
